<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup Page</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <link rel="stylesheet" href="/css/index.css" />
        <script src="/js/signup.js"></script>
    </head>
    <body>
        <h2>회원 가입</h2>
        <form id="frm">
            <ul>
                <li><input type="text" name="userid" /></li>
                <li><input type="password" name="userpw" /></li>
                <li><input type="text" name="username" /></li>
            </ul>
            <button>가입</button>
        </form>
    </body>
</html>
