<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>글쓰기 페이지입니다.</h2>

  <form method="post" action="/boards/write">
    <ul>
      <li>작성자 : <input type="text" name="subject"></li>
      <li>제목: <input type="text" name="subject2"></li>
      <li>
        <textarea name="content1" id="" cols="30" rows="10"></textarea>
      </li>
    </ul>
    <button type="submit">글쓰기</button>
  </form>
</body>
</html>