<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form method="post" action="/boards/modify">
    <ul>
      <li>
        <input type="text" name="title" value={{title}}>
      </li>
      <li>
        <input type="text" name="writer" value={{writer}}>
      </li>
      <li><textarea name="content">{{content}}</textarea></li>
    </ul>
    <button type="submit">글수정</button>
  </form>
</body>
</html>