<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type="text/css" rel="stylesheet" href="http://127.0.0.1:3000/public/css/index.css">
  <script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
  <!-- <img src="../public/images/img.jpg" alt=""> -->
  <!-- <img src="http://127.0.0.1:3000/images/img.jpg" alt="">
  <img src="/images/img.jpg" alt=""> -->

  {{name}}님 환영합니다~
</body>
</html>