<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Front Server</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        Front Server
        <a href="/login">로그인</a>
        <img src="/images/image.png" alt="" />
    </body>
</html>
